div.links--bar {
  background-color: #2f8869;
  min-height: 100vh;
}

div.links--bar div.container div.scroller {
  display: flex;
  flex-wrap: wrap;
}

div.links--bar div.container div.scroller div.link--block {
  flex: 0 0 33%;
}

div.link--block div.link--container {
  border-radius: 25px 25px 15px 15px;
  margin: 1rem;
  box-shadow: 0px 0px 30px rgb(6 113 76 / 30%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

div.link--block div.link--container div.link--block-image img {
  border-radius: 25px 25px 0px 0px;
}

div.link--block div.link--container div.link--block-content,
div.link--block div.link--container a {
  padding: 1.5rem 1rem;
}

div.link--block div.link--container div.link--block-content {
  width: 100%;
}

div.link--block div.link--container a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  width: 50%;
  padding: 10px;
  margin: 1rem;
  background-color: #06714c;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  div.link--block div.link--block-content {
    width: 50%;
  }

  div.link--block a {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  div.scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap !important;
  }

  div.links--bar div.container div.scroller div.link--block {
    flex: 1 1 100%;
    max-width: 80%;
  }

  div.link--block div.link--container {
    background-color: #06714c !important;
    min-width: 270px;
    height: 400px;
  }

  div.link--block div.link--container div.link--block-content p {
    white-space: normal;
    width: 100%;
    max-width: 100% !important;
  }

  div.link--block div.link--container div.link--block-content,
  div.link--block a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div.link--block div.link--container div.link--block-image img {
    border-radius: 15px;
  }

  div.link--block div.link--container div.link--block-image {
    height: 150px;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
  }

  div.link--block a {
    background-color: #2f8869;
    border-radius: 15px;
    margin: 1rem;
    text-align: center;
    width: 100%;
  }
}

div.link--block div.link--container.hot {
  background-color: burlywood !important;
}

.invert {
  color: #171717;
}
