div.links--bar {
  background-color: #e8eef4;
  min-height: 100vh;
}

div.links--bar div.container div.scroller {
  display: flex;
  flex-wrap: wrap;
}

div.links--bar div.container div.scroller div.link--block {
  flex: 0 0 33%;
}

div.link--block div.link--container {
  border-radius: 25px 25px 15px 15px;
  margin: 1rem;
  box-shadow: 0px 0px 10px #d9d9d9;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

div.links--bar div.container div.scroller div.link--block p,
div.links--bar div.container div.scroller div.link--block h1 {
  color: #000;
}

div.link--block div.link--container div.link--block-image img {
  border-radius: 25px 25px 0px 0px;
}

div.link--block div.link--container div.link--block-content,
div.link--block div.link--container a {
  padding: 1.5rem 1rem;
}

div.link--block div.link--container div.link--block-content {
  width: 100%;
}

div.link--block div.link--container a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 1rem;
  background-color: #000;
  border-radius: 15px;
  border: none;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  div.link--block div.link--block-content {
    width: 50%;
  }

  div.link--block a {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  div.scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap !important;
  }

  div.links--bar div.container div.scroller div.link--block {
    flex: 1 1 100%;
    max-width: 80%;
  }

  div.link--block div.link--container {
    min-width: 270px;
  }

  div.link--block div.link--container div.link--block-content p {
    white-space: normal;
    width: 100%;
    max-width: 100% !important;
  }

  div.link--block div.link--container a  {
    width: 100%;
  }

  div.link--block div.link--container div.link--block-content,
  div.link--block a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  div.link--block div.link--container div.link--block-image img {
    border-radius: 15px 15px 0px 0px;
  }

  div.link--block div.link--container div.link--block-image {
    border-radius: 40px;
  }
}

div.link--block div.link--container.hot {
  background-color: #efbe13 !important;
}

.invert {
  color: #201e20;
}
