div.social--bar {
  /* background-color: #b7b78e; */
  background-color: #202020;
}

div.social--bar div.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem 0px;
  margin: 0 auto;
}

div.social--bar img {
  width: 85px;
  height: 85px;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

div.social--bar div.container div.socials--mini {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
}

div.social--bar div.container div.socials--mini a {
  padding: 0px 10px;
}
div.social--bar div.container div.socials--mini svg {
  font-size: 25px;
}
